#header{
  max-width: 100%;
  height: 80px;
  background-color: #13ad0a;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  #main_navigation {
    margin-right: 15%;
    display: flex;
    align-items: center;

    .menu-item{
      font-size: 25px;
      font-family: 'Crimson Text', serif;
      margin: 0 1em 0 0;
      color: #d0dbd7;
      display: flex;
      align-items: center;
      }
    .account{
      flex-direction: column;
      i:hover{
        cursor: pointer;
      }
      app-auth-logout{
        position: absolute;
        margin-top: 20px;
      }
    }
  }
}
